.bordered {
    width: 9vh;
    height: 9vh;
    padding: 1vh;
    border: 0.7vh outset yellowgreen;
    border-radius: 50%;
    margin: 1vh;
    background-color: transparent;
    font-size: 2vh;
    color:black;
}

@media (max-width: 1366px) {
    .bordered {
        width: 7vh;
        height: 7vh;
        font-size: 1.2vh;
        padding: 1vh;
    }
}

@media (max-width: 720px) {
    .bordered {
        font-size: 1.3vh;
        padding: 1.3vh;
    }
}

@media (max-width: 480px) {
    .bordered {
        font-size: 1.5vh;
        padding: 0.7vh;
    }
}