.Start {
    margin-top: 1vh;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    object-fit: contain;
    .jumbotron {
        background-color: inherit;
        color: white;
        text-align: center;
        font-family: inherit;
        padding-top:0!important;
    }
    .caps {
        margin: 25px;
        margin-top: 100px !important;
        font-size: 1.5em;
        color: black;
    }
    @media (min-width: 768px) {
        section.container-card {
            display: flex;
        }
    }
    section.container-card {
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
        margin-bottom: 2vh;
    }
    section.card {
        height: calc(32vh + 13vw);
        background-color: white;
        padding: 1vw;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.6);
        object-fit: contain;
    }
    section.card:not(:first-of-type) {
        margin-left: 2vw;
    }
    h2.card-heading {
        color: black;
        font-weight: bold;
        margin-bottom: 1em;
        font-size: calc(1.2vw + 1.2vh);
    }
    section.card-text {
        margin: 1vh;
        color: black;
        font-size: calc(1vw + 1vh);
        font-weight: bolder;
        display: inline;
    }
    section.card ul,
    ol {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        text-align: left; 
    }
    section.card ul,
    section.card ol {
        color: black;
        font-size: calc(1vw + 1vh);
        word-wrap: normal;
    }
    section.card .card-featured-speaker {
        height: calc(10vh + 15vw) !important;
        object-fit: contain;
    }
    section.card .card-speaker-caption {
        margin: 2vw;
        font-family: sans-serif;
        margin-top: 1.2vh;
        margin-bottom: 3vh;
        text-align: center; // font-weight: bold;
        color: black;
        font-size: 1.8em;
        object-fit: contain;
    }
    #countdown {
        font-size: 1.5em;
    }
    .header {
        max-width: 50%;
    }
    .btn {
        border: none;
        margin: 10px;
    }
    .btn button {
        background: none;
        height: 50px;
        width: 150px;
        font-size: 1.2em;
        font-weight: bold;
        color: #cadea5;
        border: 3px solid #cadea5;
        text-align: center;
        position: relative;
        background-color: rgb(42, 50, 62);
    }
    .btn button:hover {
        border-color: #97c88c;
    }
    .btn button:hover #tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    @media (max-width: 1024px) {
        .header {
            max-width: 85%;
        }
        .btn button {
            font-size: 1.3em;
            width: 200px;
        }
        #countdown,
        .intro,
        .caps {
            font-size: 2em;
        }
    }
    @media (max-width: 750px) {
        section .card-container {
            display: block !important;
        }
        section .card .card-heading {
            padding-top: 3vh;
        }
        section .card-text {
            font-size: calc(2vw + 2vh)!important;
        }
        section .card {
            height:50vh;
            margin: 0 !important;
            margin-bottom: 3vh !important;
            display: block!important;
        }
        section.card ul,
        ol {
            padding-left: 10vw;
            padding-right: 10vw;
            font-size:calc(2vw + 2vh) !important;
            text-align: left; // padding-top:1vh;
            // padding-bottom:1vh;
        }
    }
    @media (max-width: 420px) {
        .header {
            max-width: 90%;
        }
        .btn button {
            font-size: 0.8em;
            width: 100px;
            height: 40px;
        }
        #countdown,
        .intro,
        .caps {
            font-size: 1.2em;
        }
    }
    @media (max-width: 320px) {
        .header {
            max-width: 90%;
        }
        .btn button {
            font-size: 0.8em;
            width: 100px;
            height: 40px;
        }
        #countdown,
        .intro,
        .caps {
            font-size: 1.0em;
        }
    }
}

#tooltiptext {
    visibility: hidden;
    width: auto;
    color: #cadea5;
    text-align: center;
    position: absolute;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 1;
    bottom: 10%;
    left: 106%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 0;
    background-color: rgba(35, 44, 56, 0.85);
}

#tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#arrow-left {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid rgba(79, 247, 238, 0.6)
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: black;
    margin: 0.6vh;
}
@media (max-width: 420px) {
    .Start {
        margin-bottom: 170vw!important;
        margin-top:0 !important;
    }
    .jumbotron {
        margin-top:0 !important;
        padding-top:0 !important;
    }
}
@media (max-height: 750px) and (max-width: 1024) {
    .Start {
        margin-bottom: 100vh!important;
        margin-top:0 !important;
    }
    .jumbotron {
        margin-top:0 !important;
        padding-top:0 !important;
    }
}
@media (min-width: 750px) and(max-width:1366) {
    .Start {
        margin-bottom: 10vh!important;
        margin-top:0 !important;
    }
    .jumbotron {
        margin-top:0 !important;
        padding-top:0 !important;
    }
    section.card {
        height: 70vh!important;
    }
}